.pmContainer {
	padding: 30px;
	/* margin: auto; */
}
.pmContainer h1 {
	color: #333;
	margin-bottom: 20px;
}
.controls {
	display: flex;
	gap: 20px;
	margin-bottom: 20px;
}
.controls input,
.controls select {
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
}
.layout {
	display: flex;
	gap: 20px;
	margin-top: 20px;
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
}

.controlRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	gap: 20px;
}

.controlRow input {
	flex: 1;
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
}


.createButton {
	padding: 8px 16px;
	background-color: #0056b3;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 0.9em;
	cursor: pointer;
	font-weight: 600;
	white-space: nowrap;
	transition: 0.2s;
}

.loaderRight {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 999;
}
.left {
	flex: 25;
	max-width: 25%;
}
.right {
	flex: 75;
	min-width: 0;
	max-width: 75%;
}
.breadcrumb {
	font-size: 10px;
	color: #666;
	margin-bottom: 15px;
}
.breadcrumb a {
	color: #264275;
	text-decoration: none;
	font-weight: 500;
}
.breadcrumb a:hover {
	text-decoration: underline;
}
.separator {
	margin: 0 6px;
	color: #aaa;
}
